@import "reset.scss";
@import "style.scss";

/********* Loader **********/
.loader-wrapper{
    height: 100%;
    width: 100%;
    background-color: var(--grey-dark);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    color: white; 
    animation: loader-transition 1s linear 3s forwards;
}

.pacmans{
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.pacman1, .pacman2{  
    width: 60px;
    height: 30px;
}
.pacman1{
    border-radius: 100px 100px 0 0;
    animation: pac-top 0.8s linear infinite;
    transform-origin: center bottom;
    background: radial-gradient(ellipse at bottom, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
}
.pacman2{
    border-radius: 0 0 100px 100px;
    animation: pac-bot 0.8s linear infinite;
    transform-origin: center top;
    background: radial-gradient(ellipse at top, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
}

.icones{
    display: flex;
    gap: 20px;
}

.icones .icone:nth-child(1) {
    animation: dot-stage1b 1.4s infinite;
  }
  
  .icones .icone:nth-child(2) {
    animation: dot-stage2b 1.4s infinite;
  }
  
  .icones .icone:nth-child(3) {
    animation: dot-stage3b 1.4s  infinite;
  }
  
  .icones .icone:nth-child(4) {
    animation: dot-stage4b 1.4s infinite;
  }
  
  .icones .icone:nth-child(5) {
    animation: dot-stage5b 1.4s infinite;
  }




/****** Général *******/
section{
    // padding: 40px 18px 65px 18px;
    padding-top: 40px;
    padding-bottom: 65px;
    padding-left: 4vw;
    padding-right: 4vw;
}

.sous-titre{
    font-size: 1.5rem;
    font-weight: 700;
}

.fonctionnement h2, .restaurants h2{
    margin-bottom: 20px;
}

/******** logo/header *********/
header{
    .logo{
        z-index: 2;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    }    

    .localisation{
        width: 100%;
        justify-content: center;
        padding: 15px 0;
        background-color: var(--grey-2);
        color: var(--grey-dark);
        font-weight: 500;

        i{
            padding-right: 17px;
        }
    }
}

/***** partie Infos *****/
.infos{
    flex-direction: column;
    align-items: center;
    text-align: center;

    .sous-titre{
        padding-bottom: 1.2rem;
    }

    p{
        padding-bottom: 1.7rem;
    }
}

/***** partie Fonctionnement *****/
.fonctionnement{
    .list-etapes{
        flex-direction: column;
        gap: 1.5rem;

        li{
            align-items: center;
        }
    }

    .numero{
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 1rem;
        background-color: var(--purple-color);
        align-items: center;
        z-index: 2;

        p{
            color: white;
            width: 1.5rem;
            font-size: 0.9rem;
            text-align: center;
        }
    }

    .etape{
        align-items: center;        
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        width: 100%;
        position: relative;
        left: -0.7rem;
        margin-right: -0.7rem;
        height: 72px;
        padding-right: 1rem;
    }

    i{
        color: var(--grey-tiny);
        width: 3.4rem;
        text-align: center;
        padding-left: 0.6rem;

        &.color-purple{
            color: var(--purple-color);
        }
    }
}

/***** partie liste des restaurants *****/
.restaurants{
    .conteneur-grid{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.2rem;
    }

    .restaurant{
        border-radius: 15px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);

        .card-content{
            justify-content: space-between;
            align-items: center;
            padding: 15px 7.5% 20px 4%;              
        }

        .card-image {
            position: relative;
    
            img{
                border-radius: 15px 15px 0 0;
            }   
            
            .tag-new{
                background-color: var(--green-color);
                color: var(--green-text-color);
                font-size: 0.9rem;
                border-radius: 0.13rem;        
                z-index: 2;
                position: absolute;
                top: 7%; right: 3.5%;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
                min-width: 80px;
                min-height: 29px;
                justify-content: center;
                align-items: center;
    
                p{
                    padding: 0.1rem 0.3rem;
                }
            }
        } 

        .card-title{
            font-size: 1.1rem;
            font-weight: 700;
            margin-bottom: 0.3rem;
        }

        .card-infos{
            font-size: 1.05rem;
            font-weight: 300;
        }              
    }
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets) */
@media (min-width: 768px) {
    .fonctionnement{
        .list-etapes{
            flex-direction: row;
        }
        .etape{
            padding-right: 2rem;
        }
    }

    .restaurants{
        .conteneur-grid{
            grid-template-columns: 1fr 1fr;
            column-gap: 7vw;
            row-gap: 50px;
        }
    }
}


/* Large devices (desktop) */
@media (min-width: 1024px) {
    header{
        .logo{
            box-shadow: none;
        }
    }

    main{
        max-width: 1440px;
        margin: auto;
    }

    section{
        padding-left: 10vw;
        padding-right: 10vw;
    }
}


