@import "reset.scss";
@import "style.scss";


header{
    position: relative;

    .logo{
        font-size: 1.9rem;
        box-shadow: none;
    }

    nav{
        z-index: 5;
        transform: rotate(180deg);
        position: absolute;
        align-items: center;
        height: 100%;
        padding-right: 1rem;

        div{
            align-items: center;
            height: 1.9rem;
            width: 1.9rem;
        }

        i{
            width: 100%;
            font-size: 1.25rem;
            text-align: center;
        }
    }
}

.restaurant-img{
    height: 250px;
}

.underline{
    height: 0.19rem;
    width: 3rem;
    background-color: var(--green-color);
    margin-top: 4px;
}

.menu{
    border-radius: 45px 45px 0 0;
    background-color: var(--grey-bkg);
    position: relative;
    top: -45px;

    h1{
        font-size: 1.75rem;
    }

    .liste-plats{
        margin: 0 13px;
    }

    .header-menu{
        align-items: center;
        gap: 24px;
        padding: 32px 17px 0 17px;
    }
}

.div-btn, section{
    margin-top: 40px;
}

section{
    flex-direction: column;
    h2{
        text-transform: uppercase;
        font-weight: 300;
    }
}

.plat{
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
    border-radius: 0.9rem;
    margin-top: 12px;
    padding: 15px;
    justify-content: space-between;
    gap: 5%;

    .plat-texte{
        h3{
            font-size: 1.1rem;
            font-weight: 500;
            padding-bottom: 5px;
        }
        p{
            font-size: 0.9rem;
            font-weight: 300;
        }
    }

    .plat-prix{
        align-self: flex-end;
        font-weight: 500;
        font-size: 0.9rem;
    }
}


.div-btn{
    justify-content: center;
}





/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets) */
@media (min-width: 768px) {

}



/* Large devices (desktop) */
@media (min-width: 1024px) {  

}