@charset "UTF-8";
/* ---------- [ RESET ] */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s,
samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

a img {
  border: none;
}

article, aside, canvas, details, figcaption, figure, footer,
header, hgroup, menu, nav, section, summary, main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]),
[hidden] {
  display: none;
}


:root {
  --purple-color: #9356DC;
  --pink-color: #FF79DA;
  --purple-light-color: rgb(176, 116, 225);
  --pink-light-color: rgb(228, 132, 224);
  --grey-tiny: #7E7E7E;
  --grey-2: #EAEAEA;
  --grey-dark: #353535;
  --grey-bkg: #f6f6f6;
  --green-color: #99E2D0;
  --green-text-color: #008766;
  --box-shadox-card: 0px 3px 15px 0px rgba(0, 0, 0, 0.3);
  --box-shadow-tag: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  --gradient-normal: linear-gradient(var(--pink-color), var(--purple-color));
  --gradient-hover: linear-gradient(var(--pink-light-color), var(--purple-light-color));
}

/********* Général **********/
* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

main {
  background-color: var(--grey-bkg);
}

.titre {
  font-family: "Shrikhand", sans-serif;
}

a {
  display: inline-block;
  color: #000;
}

.conteneur-flex {
  display: flex;
}

.font-500 {
  font-weight: 500;
}

.font-300 {
  font-weight: 300;
}

.bkg-white {
  background-color: white;
}

/******** logo/header *********/
header {
  flex-direction: column;
}
header .logo {
  width: 100%;
  text-align: center;
  padding: 0.6rem 0;
}
header .logo .titre {
  font-size: 1.9rem;
}

/****** images des restaurants ******/
.contener {
  width: 100%;
}

.restaurant-img {
  object-fit: cover;
  width: 100%;
  height: 150px;
}

/****** boutons ******/
.btn {
  background: var(--gradient-normal);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 0.8rem 1.2rem;
  color: white;
}
.btn:hover {
  background: var(--gradient-hover);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

/****** animation des coeurs ******/
.card-like .fa-heart {
  font-size: 1.3rem;
}
.card-like .fa-solid {
  display: none;
}
.card-like .fa-regular {
  color: #353535;
}
.card-like:hover .fa-regular {
  display: none;
}
.card-like:hover .fa-solid {
  display: block;
  background: linear-gradient(var(--purple-color), var(--pink-color));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/******* Footer ********/
footer {
  padding: 22px 25px;
  background-color: var(--grey-dark);
  flex-direction: column;
  gap: 1rem;
}
footer .titre,
footer i,
footer a {
  color: white;
}
footer .titre {
  font-size: 1.2rem;
}
footer ul {
  flex-direction: column;
  gap: 0.45rem;
}
footer ul li {
  align-items: center;
}
footer .icone-footer {
  width: 0.8rem;
  padding-right: 1rem;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets) */
/* Large devices (desktop) */
@media (min-width: 1024px) {
  header .logo {
    padding: 1.4rem 0;
  }
  footer {
    flex-direction: row;
    justify-content: flex-end;
    padding: 60px 50px 30px 25px;
  }
  footer h2 {
    order: 2;
  }
  footer ul {
    flex-direction: row;
    order: 1;
    gap: 10px;
  }
  footer ul .element-1 {
    width: 11.8rem;
  }
  footer ul .element-2 {
    width: 7.8rem;
  }
  footer .icone-footer {
    width: auto;
    padding-right: 0.4rem;
  }
}
/****** Général *******/
section {
  padding-top: 40px;
  padding-bottom: 65px;
  padding-left: 4vw;
  padding-right: 4vw;
}

.sous-titre {
  font-size: 1.5rem;
  font-weight: 700;
}

.fonctionnement h2, .restaurants h2 {
  margin-bottom: 20px;
}

/******** logo/header *********/
header .logo {
  z-index: 2;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
header .localisation {
  width: 100%;
  justify-content: center;
  padding: 15px 0;
  background-color: var(--grey-2);
  color: var(--grey-dark);
  font-weight: 500;
}
header .localisation i {
  padding-right: 17px;
}

/***** partie Infos *****/
.infos {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.infos .sous-titre {
  padding-bottom: 1.2rem;
}
.infos p {
  padding-bottom: 1.7rem;
}

/***** partie Fonctionnement *****/
.fonctionnement .list-etapes {
  flex-direction: column;
  gap: 1.5rem;
}
.fonctionnement .list-etapes li {
  align-items: center;
}
.fonctionnement .numero {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  background-color: var(--purple-color);
  align-items: center;
  z-index: 2;
}
.fonctionnement .numero p {
  color: white;
  width: 1.5rem;
  font-size: 0.9rem;
  text-align: center;
}
.fonctionnement .etape {
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  width: 100%;
  position: relative;
  left: -0.7rem;
  margin-right: -0.7rem;
  height: 72px;
  padding-right: 1rem;
}
.fonctionnement i {
  color: var(--grey-tiny);
  width: 3.4rem;
  text-align: center;
  padding-left: 0.6rem;
}
.fonctionnement i.color-purple {
  color: var(--purple-color);
}

/***** partie liste des restaurants *****/
.restaurants .conteneur-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.2rem;
}
.restaurants .restaurant {
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.restaurants .restaurant .card-content {
  justify-content: space-between;
  align-items: center;
  padding: 15px 7.5% 20px 4%;
}
.restaurants .restaurant .card-image {
  position: relative;
}
.restaurants .restaurant .card-image img {
  border-radius: 15px 15px 0 0;
}
.restaurants .restaurant .card-image .tag-new {
  background-color: var(--green-color);
  color: var(--green-text-color);
  font-size: 0.9rem;
  border-radius: 0.13rem;
  z-index: 2;
  position: absolute;
  top: 7%;
  right: 3.5%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 80px;
  min-height: 29px;
  justify-content: center;
  align-items: center;
}
.restaurants .restaurant .card-image .tag-new p {
  padding: 0.1rem 0.3rem;
}
.restaurants .restaurant .card-title {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}
.restaurants .restaurant .card-infos {
  font-size: 1.05rem;
  font-weight: 300;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets) */
@media (min-width: 768px) {
  .fonctionnement .list-etapes {
    flex-direction: row;
  }
  .fonctionnement .etape {
    padding-right: 2rem;
  }
  .restaurants .conteneur-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 7vw;
    row-gap: 50px;
  }
}
/* Large devices (desktop) */
@media (min-width: 1024px) {
  header .logo {
    box-shadow: none;
  }
  main {
    max-width: 1440px;
    margin: auto;
  }
  section {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

/*# sourceMappingURL=accueil.css.map */
