@charset "UTF-8";
/* ---------- [ RESET ] */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s,
samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

a img {
  border: none;
}

article, aside, canvas, details, figcaption, figure, footer,
header, hgroup, menu, nav, section, summary, main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]),
[hidden] {
  display: none;
}


:root {
  --purple-color: #9356DC;
  --pink-color: #FF79DA;
  --purple-light-color: rgb(176,116,225);
  --pink-light-color: rgb(228,132,224);
  --grey-tiny: #7E7E7E;
  --grey-2: #EAEAEA;
  --grey-dark: #353535;
  --grey-bkg: #ddcbd3;
  --green-color: #99E2D0;
  --green-text-color: #008766;
  --box-shadox-card: 0px 3px 15px 0px rgba(0,0,0,0.3);
  --box-shadow-tag: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  --gradient-normal: linear-gradient(var(--pink-color),var(--purple-color));
  --gradient-hover: linear-gradient(var(--pink-light-color), var(--purple-light-color));
}

/****************** Général **********************/
* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

main {
  background-color: var(--grey-bkg);
}

.titre {
  font-family: "Shrikhand", sans-serif;
}

a {
  display: inline-block;
  color: #000;
}

.conteneur-flex {
  display: flex;
}

.font-500 {
  font-weight: 500;
}

.font-300 {
  font-weight: 300;
}

.bkg-white {
  background-color: white;
}

/******** logo/header *********/
header {
  flex-direction: column;
}
header .logo {
  z-index: 3;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 0.6rem 0;
}
header .logo .titre {
  font-size: 1.9rem;
}

/* images des restaurants */
.contener {
  width: 100%;
}

.restaurant-img {
  object-fit: cover;
  width: 100%;
  height: 150px;
}

/* boutons */
.btn {
  background: var(--gradient-normal);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 0.8rem 1.2rem;
  color: white;
}
.btn:hover {
  background: var(--gradient-hover);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

/* animation des coeurs */
.card-like .fa-heart {
  font-size: 1.3rem;
}
.card-like .fa-solid {
  display: none;
}
.card-like .fa-regular {
  color: #353535;
}
.card-like:hover .fa-regular {
  display: none;
}
.card-like:hover .fa-solid {
  display: block;
  background: linear-gradient(var(--purple-color), var(--pink-color));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/***************** Footer ********************/
footer {
  padding: 22px 25px;
  background-color: var(--grey-dark);
  flex-direction: column;
  gap: 1rem;
}
footer .titre, footer i, footer a {
  color: white;
}
footer .titre {
  font-size: 1.2rem;
}
footer ul {
  flex-direction: column;
  gap: 0.45rem;
}
footer ul li {
  align-items: center;
}
footer .icone-footer {
  width: 0.8rem;
  padding-right: 1rem;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets) */
/* Large devices (desktop) */
header {
  position: relative;
}
header .logo {
  font-size: 1.9rem;
  box-shadow: none;
}
header nav {
  z-index: 5;
  transform: rotate(180deg);
  position: absolute;
  align-items: center;
  height: 100%;
  padding-right: 1rem;
}
header nav div {
  align-items: center;
  height: 1.9rem;
  width: 1.9rem;
}
header nav i {
  width: 100%;
  font-size: 1.25rem;
  text-align: center;
}

.restaurant-img {
  height: 250px;
}

.underline {
  height: 0.19rem;
  width: 3rem;
  background-color: var(--green-color);
  margin-top: 4px;
}

.menu {
  border-radius: 45px 45px 0 0;
  background-color: var(--grey-bkg);
  position: relative;
  top: -45px;
}
.menu h1 {
  font-size: 1.75rem;
}
.menu .liste-plats {
  margin: 0 13px;
}
.menu .header-menu {
  align-items: center;
  gap: 24px;
  padding: 32px 17px 0 17px;
}

.div-btn, section {
  margin-top: 40px;
}

section {
  flex-direction: column;
}
section h2 {
  text-transform: uppercase;
  font-weight: 300;
}

.plat {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.9rem;
  margin-top: 12px;
  padding: 15px;
  justify-content: space-between;
  gap: 5%;
}
.plat .plat-texte h3 {
  font-size: 1.1rem;
  font-weight: 500;
  padding-bottom: 5px;
}
.plat .plat-texte p {
  font-size: 0.9rem;
  font-weight: 300;
}
.plat .plat-prix {
  align-self: flex-end;
  font-weight: 500;
  font-size: 0.9rem;
}

.div-btn {
  justify-content: center;
}

/* Le code ci-dessous correspond à la version responsive uniquement */
/****** Media queries ***********/
/* Medium devices (tablets) */
/* Large devices (desktop) */

/*# sourceMappingURL=restaurants.css.map */
